.contaner {
  display: flex;
  min-height: 100vh;
}
.header_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 18px 20px;
}

.title_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.cards_box {
  min-height: 625px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin: 5px 20px;
}
.btn_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .cards_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  
}
@media (max-width: 600px) {
  .header_box {
    flex-wrap: wrap;
    order: 3;
  }
  .btn_box {
    order: 2;
  }
  .cards_box {
    order: 1;
  }
  .header_box div:first-child {
    order: 2;
    width: 48%;
  }
  .header_box div:nth-child(2) {
    width: 100%;
    order: 1;
  }
  .header_box div:nth-child(3) {
    width: 48%;
    order: 3;
  }
}
@media (max-width: 480px) {
}
