.container {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
}

.mian_title_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cards_box {
  min-height: 625px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-left: 15px;
}

.btn_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.mobile {
  display: none;
}

@media (max-width: 1200px) {
  .cards_box {
    margin-left: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    width: 45%;
    order: 3;
  }

  .mian_title_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }
}
