.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
  text-align: center;
  background-color: rgb(249, 247, 247);
  padding: 0 20px;
  box-shadow: rgba(46, 240, 233, 0.4) 0px 5px;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo {
  max-width: 100%;
  height: 60px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  box-shadow: 2px 4px 8px rgba(46, 240, 233, 0.4);
}

.box {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.box > li {
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  padding: 6px 10px;
  cursor: pointer;
  box-shadow: rgba(46, 240, 233, 0.4) 0px 5px;
}
.box > li:hover {
  background-color: #00c3ff;
}
.box li a {
  text-decoration: none;
  color: black;
}
.nav-mobile {
  display: none;
}
.icon{
  display: none;
}
@media (max-width: 1200px) {
  .logo {
    height: 50px;
  }
  .box > li {
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 6px 10px;
  }
}

@media (max-width: 600px) {
  .container{
    padding: 5px;
    justify-content: center;
    height: 40px;
  }
  .logo{
    position: absolute;
    left: 15%;
    height: 30px;
    order: 2;
    margin-bottom: 2px;
    margin-left: 5px;
  }
  .ul_container{
    display: none;
  }
  .nav-mobile{
    position: absolute;
    left: 5%;
    display: flex;
    margin-right: 5px;
    
  }
  .icon{
    position: absolute;
    display: block;
    order: 3;
    right: 5%;
  }
}
@media (max-width: 480px) {
}
