.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(12, 145, 152);
  background-color: #fff;
  height: 450px;
}

.heart {
  position: absolute;
  top: 1%;
  right: 2%;
  color: #f8340d;
}

.card:hover {
  border-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(46, 240, 233, 0.4);
}

.info {
  text-align: start;
  padding: 5px;
}

.img_box {
  max-width: 300px;
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 5px;
}

.title {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: rgb(2, 19, 35);
}

.desc {
  font-weight: 600;
  font-size: 14px;
  color: #241d1d;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.prices {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #f8340d;
}

.discount {
  color: #030303;
  text-decoration: line-through;
}

.color {
  font-size: 16px;
  font-weight: bold;
  color: #005fb8;
  margin-bottom: 2px;
}

.rating {
  color: #f1c40f;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.rating-star {
  font-size: 14px;
}

.add_button {
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  top: 90%;
  background-color: #007bff;
  color: #ffffff;
  padding: 5px 7px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.add_button:hover {
  background-color: #0056b3;
}

@media (max-width: 1300px) {
  .img_box {
    height: 170px;
  }
}
@media (max-width: 1200px) {
  .card {
    width: 350px;
  }
  .add_button {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 300px;
  }
  .title {
    font-weight: 700;
  }
}

@media (max-width: 992px) {
  .card {
    width: 250px;
  }

  .desc {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 80%;
    height: 350px;
    margin-left: 5px;
  }
  .img_box {
    height: 150px;
  }

  .card img {
    margin-bottom: 0;
  }

  .color {
    font-size: 14px;
  }
  .price {
    font-size: 16px;
  }
  .add_button {
    top: 90%;
    right: 2%;
  }
}

@media (max-width: 380px) {
  .img_box {
    height: 100px;
  }
}
