.load_box {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
.load_btn {
  align-items: center;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.load_btn:hover {
  background-color: #0056b3;
}

@media (max-width: 1200px) {
  .load_btn {
    padding: 5px 10px;
  }
}

@media (max-width: 768px) {
  .load_btn {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .load_btn {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
}
