.small {
  background-color: rgb(253, 253, 253);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  animation: nav 500ms ease-in;
  z-index: 100;
}

@keyframes nav {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.box {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 10px;
}

.small a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-shadow: rgba(46, 240, 233, 0.4) 0px 2px;
  color: black;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 18px;
}

.small a:hover {
  color: #007bff;
}

.info_box {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
