.footer {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 247, 247);
  padding: 10px;
  text-align: center;
  
}
.footer_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 5px;
}
.footer_links a {
  text-decoration: none;
  color: #4b008c;
  font-weight: 700;
  font-size: 14px;
}

.footer_links a:hover {
  color: #007bff;
}
.footer p {
  letter-spacing: 1;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 768px) {
  .footer_links{
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .footer_links a{
    font-size: 12px;
  }
 .footer p{
  font-size: 12px;
 }
}
