.counter {
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: 700;
  color: #078bb3;
  border-bottom: 3px solid #2ef0e966;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .counter {
    font-size: 14px;
  }
}
