.head_box {
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  letter-spacing: 1px;
}
.desc_title{
  letter-spacing: 0.1;
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 1200px) {
   .head{
    font-size: 18px;
   }
  
}

@media (max-width: 768px) {
 .head{
  font-size: 16px;
 }
 .desc_title{
  margin: 0px 5px;
 }
}
@media (max-width: 600px) {
 .head_box{
  margin: 5px 0px;
 }
 
}
@media (max-width: 480px) {
  

}
